

.appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    
}

.btn-hosp-name {
    display: flex;
    align-items: center;
    gap: 15px;
    top: 10px;
    left: -1.66px;
    padding: 11px 130px 11px 130px;
}

.button {
    width: 95px;
    height: 30px;
    top: 95px;
    left: 129px;
    background-color: #222F66;
}

.hospital-name {
    width: 332px;
    /* height: 32px; */
    top: 94px;
    left: 243px;
    font-weight: 400;
    size: 24px;
    line-height: 31.8px;
    color: #222F66;
}

.call-book-appointment {
    display: flex;
    align-items: center;
    margin-right: 146.34px;
    height: 42px;
    top: 90px;
    color: #222F66;
}

.date-choose {
    border: 2px solid #222F66;
    border-radius:30px;
    padding: 10px;
    color: #222F66;
}


/* .search-icon {
    width: 41.53px;
    height: 42px;
    top: 90px;
    left: 844.75px;
} */