
.blog-text {
    width: 816.7435913085938px;
    height: 163px;
    /* top: 661px; */
    margin-top: 40px;
    margin-left: 125.8931884765625px;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}